<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thêm/Sửa Role</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
</head>
<body>
<div class="container mt-4">
    <h2 class="text-center" th:text="${Role.id != null} ? 'Sửa Role' : 'Thêm Role'"></h2>
    <form th:action="@{/role/save}" th:object="${Role}" method="post">
        <div class="form-group">
            <label for="name">Tên Role</label>
            <input type="text" id="name" th:field="*{name}" class="form-control" placeholder="Nhập tên Role" required>
        </div>
        <button type="submit" class="btn btn-success">Lưu</button>
    </form>
</div>
</body>
</html>
